{% extends "lab_10/layout/base.html" %}

{% block content %}
    <div class="row">
        <br>
        {#  <p> {{ movie }} </p> #}
        <hr>
        <div class="fluid-container">
            <h1> {{ movie.title }} </h1>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i class="glyphicon glyphicon-time"></i></span> {{ movie.runtime }} </button>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i class="glyphicon glyphicon-calendar"></i></span> {{ movie.year }} </button>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i>Rated</i></span> {{ movie.rated }}
            </button>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i>Genre</i></span> {{ movie.genre }}
            </button>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i>Language</i></span> {{ movie.language }}
            </button>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i>Rating</i></span> {{ movie.imdbrating }}
            </button>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ movie.poster }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <dl>
                                <dt>
                                    Movie Description:
                                </dt>
                                <dd>
                                    {{ movie.plot }}
                                </dd>
                                <br>
                                <dt>
                                    Productions:
                                </dt>
                                <dd>
                                    {{ movie.production }}
                                </dd>
                                <br>
                                <dt>
                                    Director:
                                </dt>
                                <dd>
                                    {{ movie.director }}
                                </dd>
                                <br>
                                <dt>
                                    Writer:
                                </dt>
                                <dd>
                                    {{ movie.writer }}
                                </dd>
                                <br>
                                <dt>
                                    Stars:
                                </dt>
                                <dd>
                                    {{ movie.actors }}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                {% if added %}
                                    <button class="btn btn-success"> Added to Watch Later</button>
                                {% else %}
                                    <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to
                                        Watch Later </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
