{% extends "lab_10/layout/base.html" %}

{% block content %}
    <div class="row">
        {% for movie in watch_later_movies %}
            <div class="panel panel-default">
                <div class="panel-heading">Number {{ forloop.counter }}</div>
                <div class="panel-body">
                    <div class="fluid-container">
                        <h1> {{ movie.title }} </h1>
                        <button type="button" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="glyphicon glyphicon-time"></i></span> {{ movie.runtime }}
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning">
                            <span class="btn-label"><i class="glyphicon glyphicon-calendar"></i></span> {{ movie.year }}
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning">
                            <span class="btn-label"><i>Rated</i></span> {{ movie.rated }}
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning">
                            <span class="btn-label"><i>Genre</i></span> {{ movie.genre }}
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning">
                            <span class="btn-label"><i>Language</i></span> {{ movie.language }}
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning">
                            <span class="btn-label"><i>Rating</i></span> {{ movie.imdbrating }}
                        </button>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{ movie.poster }}" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <dl>
                                            <dt>
                                                Movie Description:
                                            </dt>
                                            <dd>
                                                {{ movie.plot }}
                                            </dd>
                                            <br>
                                            <dt>
                                                Productions:
                                            </dt>
                                            <dd>
                                                {{ movie.production }}
                                            </dd>
                                            <br>
                                            <dt>
                                                Director:
                                            </dt>
                                            <dd>
                                                {{ movie.director }}
                                            </dd>
                                            <br>
                                            <dt>
                                                Writer:
                                            </dt>
                                            <dd>
                                                {{ movie.writer }}
                                            </dd>
                                            <br>
                                            <dt>
                                                Stars:
                                            </dt>
                                            <dd>
                                                {{ movie.actors }}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
