{% extends "lab_8/layout/base.html" %}
{% block content %}
    <div>
        <div id="lab8" class="container">
            {# referensi https://bootsnipp.com/snippets/featured/fb-like-profile-box #}
            <div class="fb-profile">
                <img align="left" class="fb-cover-image" src=""
                     id="cover-image"/>
                <img align="left" class="fb-profile-image"
                     src="" alt="User Profile Image" id="profile-image"/>
                <div class="fb-profile-text">
                    <h1 id="user-name"></h1>
                    <p id="user-description"></p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                {# side area #}
                <div id="lab8-side-area" class="col-sm-4">

                </div>
                {# main area #}
                <div id="lab8-main-area" class="col-sm-8">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
